<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsfwlt.first.mapper.roast.CommentReplyPoMapper" >
  <resultMap id="BaseResultMap" type="com.jsfwlt.first.po.roast.CommentReplyPo" >
    <id column="reply_id" property="replyId" jdbcType="INTEGER" />
    <result column="reply_content" property="replyContent" jdbcType="VARCHAR" />
    <result column="reply_to_name" property="replyToName" jdbcType="VARCHAR" />
    <result column="reply_to_id" property="replyToId" jdbcType="INTEGER" />
    <result column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_nickname" property="userNickname" jdbcType="VARCHAR" />
    <result column="like_number" property="likeNumber" jdbcType="INTEGER" />
    <result column="dislike_number" property="dislikeNumber" jdbcType="INTEGER" />
    <result column="logic_delete" property="logicDelete" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    reply_id, reply_content, reply_to_name, reply_to_id, comment_id, user_id, user_nickname, 
    like_number, dislike_number, logic_delete, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment_reply
    where reply_id = #{replyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment_reply
    where reply_id = #{replyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jsfwlt.first.po.roast.CommentReplyPo" >
    insert into comment_reply (reply_id, reply_content, reply_to_name, 
      reply_to_id, comment_id, user_id, 
      user_nickname, like_number, dislike_number, 
      logic_delete, create_time, modify_time
      )
    values (#{replyId,jdbcType=INTEGER}, #{replyContent,jdbcType=VARCHAR}, #{replyToName,jdbcType=VARCHAR}, 
      #{replyToId,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{userNickname,jdbcType=VARCHAR}, #{likeNumber,jdbcType=INTEGER}, #{dislikeNumber,jdbcType=INTEGER}, 
      #{logicDelete,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jsfwlt.first.po.roast.CommentReplyPo" >
    insert into comment_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="replyId != null" >
        reply_id,
      </if>
      <if test="replyContent != null" >
        reply_content,
      </if>
      <if test="replyToName != null" >
        reply_to_name,
      </if>
      <if test="replyToId != null" >
        reply_to_id,
      </if>
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userNickname != null" >
        user_nickname,
      </if>
      <if test="likeNumber != null" >
        like_number,
      </if>
      <if test="dislikeNumber != null" >
        dislike_number,
      </if>
      <if test="logicDelete != null" >
        logic_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="replyId != null" >
        #{replyId,jdbcType=INTEGER},
      </if>
      <if test="replyContent != null" >
        #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="replyToName != null" >
        #{replyToName,jdbcType=VARCHAR},
      </if>
      <if test="replyToId != null" >
        #{replyToId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userNickname != null" >
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="likeNumber != null" >
        #{likeNumber,jdbcType=INTEGER},
      </if>
      <if test="dislikeNumber != null" >
        #{dislikeNumber,jdbcType=INTEGER},
      </if>
      <if test="logicDelete != null" >
        #{logicDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jsfwlt.first.po.roast.CommentReplyPo" >
    update comment_reply
    <set >
      <if test="replyContent != null" >
        reply_content = #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="replyToName != null" >
        reply_to_name = #{replyToName,jdbcType=VARCHAR},
      </if>
      <if test="replyToId != null" >
        reply_to_id = #{replyToId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null" >
        comment_id = #{commentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userNickname != null" >
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="likeNumber != null" >
        like_number = #{likeNumber,jdbcType=INTEGER},
      </if>
      <if test="dislikeNumber != null" >
        dislike_number = #{dislikeNumber,jdbcType=INTEGER},
      </if>
      <if test="logicDelete != null" >
        logic_delete = #{logicDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where reply_id = #{replyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jsfwlt.first.po.roast.CommentReplyPo" >
    update comment_reply
    set reply_content = #{replyContent,jdbcType=VARCHAR},
      reply_to_name = #{replyToName,jdbcType=VARCHAR},
      reply_to_id = #{replyToId,jdbcType=INTEGER},
      comment_id = #{commentId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      like_number = #{likeNumber,jdbcType=INTEGER},
      dislike_number = #{dislikeNumber,jdbcType=INTEGER},
      logic_delete = #{logicDelete,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where reply_id = #{replyId,jdbcType=INTEGER}
  </update>

  <select id="selectByCommentId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from comment_reply
    where comment_id = #{commentId,jdbcType=VARCHAR}
  </select>
</mapper>